
:root {
    --color: #243746;
    --color-primary: #3978c0;
    --color-secondary: #ecca52;
    --bg: #f3f5f4;
    --bg-secondary: #fff;
    --border-color: #ced4da;

  }
  
  .dark-mode {
    --color: #ebf4f1;
    --color-primary: #41b38a;
    --color-secondary: #fdf9f3;
    --bg: #280910;
    --bg-secondary: #071521;
    --border-color: #0d2538;
  }
