
:root {
    --color: #243746;
    --color-primary: #a3b97d;
    --color-secondary: #ecca52;
    --bg: #f3f5f4;
    --bg-secondary: #fff;
    --border-color: #ced4da;
    --font-georgia:"Georgia, Times New Roman, Times, serif";
    --font-baskerville:'Baskerville Old Face';
    --font-candara:'Candara light';

  }
  
  .dark-mode {
    --color: #ebf4f1;
    --color-primary: #a3b97d;
    --color-secondary: #fdf9f3;
    --bg: #280910;
    --bg-secondary: #071521;
    --border-color: #0d2538;
    --color-green: #e3f0da;
    --font-georgia:'Georgia, Times New Roman, Times, serif';
    --font-baskerville:'Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif';
    --font-candara:"Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif";
    --font-comic:'"Comic Sans MS", "Comic Sans", cursive';

  }
